body{background-color: #333;font:14px Helvetica Neue,Helvetica,PingFang SC,\5FAE\8F6F\96C5\9ED1,Tahoma,Arial,sans-serif}
.g_chat_view {width: 800px;height: 500px;margin: 0 auto;}
.g_users{width: 200px;float: left;}
.g_chat{width: 600px;float: right;}

.m_topbar{height: 40px;line-height: 40px;}
.m_avatar{height: 30;width: 30px;display: inline-block; margin: 5px 10px;}

/*左侧好友列表*/
.m_user{height: 60px;cursor: pointer;}
.m_user.z_chatting{background-color: #ddd;}
.m_user .avatar{ position: absolute; width: 40px;height: 40px;top: 0;left: 0; border-radius: 50%;margin: 10px;}
.m_user .info{margin-left: 60px;}
.m_user .username{margin:11px 0 5px 0;}
.m_user .contactinfo{height: 20px;line-height: 20px;}
.u_msg_prompt{ margin-top: 2px;line-height: 16px; font-style: normal; width: 16px;  height: 16px; font-size: 12px; text-align: center; color: #fff; border-radius: 50%; background-color: #ff3a00;}

/*右侧聊天信息*/
.m_chat_record{position: relative; overflow-x: hidden; overflow-y: auto; box-sizing: border-box; padding: 20px 10px;  width: 100%;height: 290px;}  
.m_chat_msg{position: relative;width: 100%;overflow: hidden;margin-bottom: 10px;} 
.u_msg_content{display: inline-block;  vertical-align: top; font-size: 14px;position: relative; line-height: 22px;    margin-top: 25px;   padding: 8px 15px;  background-color: #e2e2e2; border-radius: 3px;color: #333;word-break: break-all;}
.m_chat_msg .content{margin:7px;}    
.m_chat_msg .content:after{ content: ''; position: absolute; left: -10px; top: 13px; width: 0;  height: 0; border-style: solid dashed dashed;  border-color: #e2e2e2 transparent transparent; overflow: hidden;  border-width: 10px;}   .m_chat_user img{width: 40px; height: 40px; border-radius: 100%;}
/*自己发的*/
.m_chat_mine {text-align: right;}  
.m_chat_mine .m_chat_user{position: absolute;top: 5px;right: 0;width: 45px;}    
.m_chat_mine .m_chat_text{margin-right: 50px;}
.m_chat_mine .m_chat_text .content{background-color: #5FB878; color: #fff;}
.m_chat_mine .m_chat_text .content:after{ left: auto;  right: -10px;border-top-color: #5FB878;}    
/* 他人的*/
.m_chat_user {text-align: left;}  
.m_chat_user .m_chat_user{position: absolute;top: 5px;left: : 0;width: 45px;}    
.m_chat_user .m_chat_text{margin-left: 50px;}   

/*发送表亲图片等功能*/
.m_chat_tool .tool_item{float: left;width: 25px;height: 25px;margin:5px 10px;}
.m_chat_bottom{height: 30px;line-height: 30px;position: absolute;bottom: 0;left: 0;right: 0;padding: 5px 20px 10px 10px;}    

.u_chat_textarea{border: none;width: 100%;overflow-x: hidden; overflow-y: auto;height: 115px;}

.u_btn{ background-color: #528fcc;color: #fff;padding: 5px 8px;}








